
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-4">

        <div class="jumbotron">
            <h2>Add An Equipment</h2>
            <p>Some quick example to Add an Equipment</p>
            <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Owner/Create")" role="button">Create</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>View All Equipment</h2>
            <p>Some quick example to View All Equipment</p>
            <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Owner/Index")" role="button">View All</a></p>
        </div>


    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>View All Transactions</h2>
            <p>Some quick example to View All Transactions</p>
            <p><a class="btn btn-primary btn-md" href="@Url.Content("~/Owner/Transactions")" role="button">View All</a></p>
        </div>


    </div>
</div>

