body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a :hover{
    text-decoration:none;
}
a .decoration :hover {
    text-decoration: none;
    color: black;
}
a .decoration {
    text-decoration: none;
    color: black;
}
.event-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #5cb85c;
    width: 100%;
    color: white;
    border-radius: 0 !important;
    box-shadow: .05px .1px #888888;
    margin: 0;
    font-size: 1.9rem;
}

.event-card-title {
    font-weight: 600;
    font-size: 2.5rem;
}

.event-list-group-item {
    display: block;
    font-size: 1.6rem;
}

.event-card-header {
    padding: 0 5px;
}

.event-card {
    border: 1px solid #ddd;
}

.event-list-group {
    padding: 0 5px;
    border-top: 1px solid #ddd;
}

.event-sort {
    font-size: 1.9rem !important;
}

.event-search {
    width: auto;
    border-radius: 0;
}
